// Specific CSS for your home-page
.home-banner {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70vw;
  height: 70vh;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5) ;
  border-radius: 8px;
  position: relative;
  padding: 20px;
}

.home-title {
  padding: 0 60px;
  max-width: 700px;
  h1 {
    font-family: 'Slackey';
    font-size: 70px;
    text-align: center;
    color: rgba(218, 18, 18, 0.8);
    line-height: 1.2em;
    text-shadow: 2px 4px 0 #1e0606;
  }
  h2 {
    font-family: 'Slackey';
    font-size: 50px;
    text-align: center;
    color: rgba(218, 18, 18, 0.8);
    line-height: 1.2em;
    text-shadow: 0 3px 0 #1e0606;
  }
}

.login-form {
  width: 388px;
  height: 409px;
  background-size: 388px 409px;
  position: relative;
  h2{
    font-family: $pixel-text-font;
  }
}

.home-button-container {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .home-secondary-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
  }
}

.copy {
  color: black;
  position: absolute;
  bottom: 10px;
  font-family: $pixel-title-font;
  font-size: 10px;
}
