body {
  overflow: hidden;
  background-color: #70C8A0;
}

// Div with the map crop - doesn't move
.play-window-view {
  width: calc(17 * var(--grid-cell));
  height: calc(11 * var(--grid-cell));
  overflow: hidden;
  position: relative;
  border: 6px solid white;
}

// Div with the final score (should be

.final-score {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-container {
  max-width: 800px;
  margin: 20px;
  text-align: center;
  h2 {
    font-family: 'Slackey';
    font-size: 100px;
    text-align: center;
    color: rgba($color: rgb(255, 196, 0), $alpha: 0.8);
    line-height: 1.2em;
    text-shadow: 0 6px 0 #1e0606;
  }
  p {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
  }
  .btn-pixel-full-width {
    margin-top: 20px;
  }
  a:hover {
    text-decoration: none;
  }
}

.score-number {
  margin-bottom: 0;
  color: rgb(255, 196, 0);
  background-color: black;
  padding: 10px;
}

// Sets the position of the layers

.final-score {
  z-index: 5;
}

.menu-group {
  z-index: 4;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  list-style-type: none;
  a:hover {
    text-decoration: none;
  }
  span {
    vertical-align: middle;
    margin: 0;
  }
}

.background-menu {
  background-color: transparent;
}

.dialogue-layer {
  z-index: 3;
}

.quest {
  z-index:3;
}

.answer-submit {
  z-index: 2;
}

.map-overlay {
  z-index: 1;
}

.map {
  z-index: 0;
}
