body {
  overflow: hidden;
}

// Div with the map crop - doesn't move
.play-window-view {
  width: calc(17 * var(--grid-cell));
  height: calc(11 * var(--grid-cell));
  overflow: hidden;
  position: relative;
}

// Sets the position of the layers

.menu-group {
  z-index: 5;
  position: absolute;
  top: 15px;
  right: 15px;
  a:hover {
    text-decoration: none;
  }
}

.dialogue-layer {
  z-index: 3;
}

.quest {
  z-index:3;
}

.answer-submit {
  z-index: 2;
}

.map-overlay {
  z-index: 1;
}

.map {
  z-index: 0;
}
