body {
  overflow: hidden;
  background-color: #70C8A0;
}

// Div with the map crop - doesn't move
.play-window-view {
  width: calc(17 * var(--grid-cell));
  height: calc(11 * var(--grid-cell));
  overflow: hidden;
  position: relative;
  border: 6px solid white;
}

// Div with the final score (should be 

.final-score {
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.7);
  width: 100vw;
  height: 10vh;
}

// Sets the position of the layers

.final-score {
  z-index: 5;
}

.menu-group {
  z-index: 4;
  position: absolute;
  top: 15px;
  right: 15px;
  a:hover {
    text-decoration: none;
  }
}

.dialogue-layer {
  z-index: 3;
}

.quest {
  z-index:3;
}

.answer-submit {
  z-index: 2;
}

.map-overlay {
  z-index: 1;
}

.map {
  z-index: 0;
}
