<%# -------------------------- NPC ACTIVE QUEST BOX   -------------------------- %>
<div class="dialogue-npc hidden">
  <div class="dialogue-npc-name">
    <p>NPC Name</p>
  </div>
  <div class="dialogue-npc-box">
    <p data-play-target="speechActive"></p>
  </div>
</div>

<%# -------------------------- NPC NOT ACTIVE QUEST BOX   -------------------------- %>

<div class="dialogue-inactive-npc hidden">
  <p data-play-target="speechInactive"></p>
</div>

<%# -------------------------- PLAYER INPUT BOX   -------------------------- %>

<div class="dialogue-player hidden">
  <%= render 'form' %>
</div>
