<div class="hidden" data-play-target="finalScore">
  <div class="final-score-container">
    <div data-action = "click->play#hideFinalScore">
      <%= link_to '✖', "#", class: 'x-back-home final-score-close' %>
    </div>
    <h2>You did it!</h2>
    <p>You have helped Ruby find their way home!</p>
    <p>This is your final score:</p>
    <p class="score-number"><%= @play.score %></p>
    <%= link_to credits_path do %>
      <div class="btn-pixel-full-width">
        <p>LEAVE CODELAND</p>
      </div>
    <% end %>
  </div>
</div>
