<div class="hidden" data-play-target="finalScore">
  <div class="score-container">
    <h2>You did it!</h2>
    <p>You have helped Ruby find their way home!</p>
    <p>This is your final score:</p>
    <p class="score-number"><%= @play.score %></p>
    <%= link_to score_path do %>
      <div class="btn-pixel-full-width">
      <p>TO LEADERBOARD</p>
      </div>
    <% end %>
    <div data-action = "click->play#hideFinalScore">
      <%= link_to '✖', "#", class: 'x-back-home' %>
    </div>
  </div>
</div>
