<div class="map" style="background: url(<%= image_path 'map.png' %>);">
  <table class="map-table">
    <tr id="tr-0">
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="character">
        <div id="character">
          <div class="character-sprite character-walking character-right" style="background: url(<%= image_path 'cat-sprite.png' %>)"></div>
        </div>
      </td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-1">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-2">
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-3">
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-4">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-5">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-6">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-7">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="active npc-sprite blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-8">
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-9">
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-10">
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
    </tr>
    <tr id="tr-11">
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
      <td class="blocked"></td>
    </tr>
  </table>
</div>
<div class="quest"> test </div>
<div class="dialogue hidden">
  <form class="dialogue-form" id="quest_input">
    <label for="quest-answer">2 + 2?</label>
    <textarea id="quest-answer" name="quest-answer" cols="40" rows="5" placeholder="Talk to me!"></textarea>
    <input type="submit" value="">
  </form>
</div>
