<div class="final-score" data-play-target="startGame">
  <div class="start-game-container">
    <h2>Hello!</h2>
    <p class="mb-2">My name is Ruby, and I am lost in this curious land where everything works by writing code!</p>
    <p class="mb-2">I need to get back home, but I will need your help! You can use the keyboard arrows to move me across the map.</p>
    <div class="btn-pixel-full-width" data-action = "click->play#hideStartGame" id="start-audio">
      <p>I will help you!</p>
    </div>
  </div>
</div>
