<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>RUBY'S ADVENTURES IN CODELAND</h1>
    </div>
    <div class="home-button-container">
      <div class="home-secondary-buttons">
        <%= link_to new_path, class: "btn-pixel-full-width" do %>
          <div>
            <p>Start a new Adventure</p>
          </div>
        <% end %>
        <%= link_to show_path(:id => current_user.play), class: "btn-pixel-full-width ml-5" do %>
          <div>
            <p>Continuous an Adventure</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
