<div class="play-container" data-controller="play" data-play-info-value="<%= @hash_infos.to_json %>">
  <div class="dialogue-npc hidden" data-play-target="boxDialogueNpc">
    <p data-play-target="speechActive"></p>
  </div>
  <div class="dialogue-inactive-npc hidden">
    <p data-play-target="speechInactive"></p>
  </div>

  <%= render "play", play: @play %>

  <div class="dialogue-player hidden" data-play-target="boxDialoguePlayer">
    <%= render 'form' %>
  </div>

</div>
