<div class="play-container" data-controller="play">
  <div class="map-view">
    <%= render 'game_menu' %>
    <div class="dialogue-layer"> <%# Sets a layer above the map for the dialogues %>
      <%= render 'dialogue' %>
    </div>
    <%= render'map' %>
  </div>
</div>
