<div class="play-container" data-controller="change-speech-box">
  <div class="dialogue-npc hidden">
    <p data-change-speech-box-target="speech"><%= @play.cell_active.npc.question %></p>
  </div>

  <%= render "play", play: @play %>

  <div class="dialogue-player hidden">
    <%= render 'form' %>
  </div>

</div>
