<script src="https://unpkg.com/kaboom@next/dist/kaboom.js"></script>
<script type="module">
  // initialize kaboom context
  kaboom();
  
  // add a text of size 32 at position (100, 100)
  add([
      text("Adventures in Codeland", 32),
      pos(100, 100),
  ]);
</script>
<div>
</div>
