<div class="view">
  <div class="map pixel-art" style="background-image: url(<%= image_path 'map.png' %>)">
    <div class="character">
      <%= image_tag "cat-shadow.png", alt: "cat shadow", class: "pixel-art character-shadow" %>
      <%= image_tag "cat-sprite.png", alt: "cat sprite", class: "pixel-art character-sprite character-walking" %>
    </div>
  </div>
</div>
