<div class="view">
  <div class="map pixel-art" style="background-image: url(<%= image_path 'map.png' %>)">
    <div class="character">
      <div class="pixel-art character-sprite character-down" style="background-image: url(<%= image_path "cat-sprite.png" %>)"></div>
      <div class="pixel-art character-shadow" style="background-image: url(<%= image_path "cat-shadow.png" %>)"></div>
    </div>
  </div>
</div>
