<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>RUBY'S ADVENTURES IN CODELAND</h1>
    </div>
    <div class="home-button-container">
      <%= link_to 'Start', plays_path, class: "btn-pixel-full-width" %>
      <div class="home-secondary-buttons">
        <%= link_to 'Leaderboard', score_path, class: "btn-pixel-45w" %>
        <%= link_to 'Story', story_path, class: "btn-pixel-45w" %>
      </div>
    </div>
  </div>
</div>
