<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title text-center">
      <h2>High Score Table</h2>
    </div>
    <%= link_to 'X', root_path, class: 'x-back-home' %>
    <div class="score-container text-center">
      <table class='score-table'>
        <tr class='table-row'>
          <th>RANK</th>
          <th class="name-column">NAME</th>
          <th>SCORE</th>
        </tr>
        <tr>
          <td>1.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>9.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>10.</td>
          <td>José</td>
          <td>1000</td>
        </tr>
      </table>
    </div>
  </div>
</div>
