<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title text-center">
      <h2>High Score Table</h1>
    </div>
    <%= link_to 'X', root_path, class: 'x-back-home' %>
    <div class="score-container text-center">
      <table class='score-table'>
        <tr class='table-row'>
          <th>Name</th>
          <th>Score</th>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>José</td>
          <td>1000</td>
        </tr>
      </table>
    </div>
  </div>
</div>
