<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>Story/h1>
    </div>
    <p>Ruby the Cat loves learning and is curious about the world. They find themselveslost in a strange place called Codeland, where everything works by writing code.</p>
    <p>Help Ruby find their </p>
  </div>
</div>
