<div class="home-banner pixel-art", style="background-image: url(<%= image_path('home_banner.png')%>)">
  <div class="home-container">
    <div class="home-title">
      <h1>Story</h1>
    </div>
    <div class="story-text">
      <p>Ruby the Cat loves learning and is curious about the world. They find themselves lost in a strange place called Codeland, where everything works in programming language.</p>
      <p>Help Ruby find their way back home by writing codes in Ruby language!</p>
    </div>
    <div class="close-story">
      <%= link_to root_path do %>
        <%= link_to '✖', root_path, class: 'x-back-home' %>
      <% end %>
    </div>
  </div>
</div>
