.score-container {
  font-size: 20px;
  font-family: $pixel-title-font;
  color: black;
  height: 300px;
  width: 90%;
  overflow-y: scroll;
  padding-left: 10px;
}

.score-container::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.0);
}
.score-container::-webkit-scrollbar {
  background-color: rgba(0,0,0,0.0);
}
.score-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba($color: white, $alpha: 0.7);
}

.score-table {
  width: 100%;
  table-layout: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  td, th {
  padding: 0.2rem;
  text-align: center;
  }
  th.name-column {
    width: 100vw;
  }
  th {
    color: $game-red;
  }
  tr:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.6);
  }
}
