.board {
  font-size: 50px;
  text-align: center;
  margin: 300px;
}

.score-container {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  font-size: 20px;
  font-family: $pixel-title-font;
  color: rgb(4, 163, 211);
  height: 300px;
  width: 90%;
  overflow: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5) ;
  border-radius: 8px;
  border: 4px solid black;
}

.score-table {
  height: 400px;
  width: 100%;
  table-layout: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.rank-column {
  width: 20%;
}

.name-column {
  width: 60%;
}

.score-column {
  width: 20%;
}
