.cards-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card-info {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  border-radius: 15px;
  height: 300px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 16px;
    text-align: center;
    font-family: $pixel-title-font;
  }
}

.card-name img {
  height: 100px;
  display: block;
  margin: 20px auto;
}

.list-inline {
  list-style: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  a:hover {
    text-decoration: none;
  }
}

.list-inline li {
  display: inline;
  text-decoration: none;
}

.list-inline li i {
  font-size: 40px;
  margin: 20px 10px 0 10px;
  &:hover {
    text-decoration: none;
  }
}

.list-inline li i:hover {
  text-decoration: none;
}
