/* --------------------------- Character settings --------------------------- */
.character > div {
  height: calc(32 * var(--pixel-size));
  width: calc(32 * var(--pixel-size));
  overflow: hidden;
  position: relative;
}

.character-sprite {
  position: absolute;
  background-size: 256px 256px;
  width: calc(128 * var(--pixel-size));
  height: calc(128 * var(--pixel-size));
}

.character-shadow {
  width: calc(32 * var(--pixel-size));
  position: absolute;
  opacity: 50%;
}

/* --------------------------- Character position --------------------------- */

.character-down {
  background-position-y: 0 !important;
}

.character-left {
  background-position-y: calc(-32 * var(--pixel-size)) !important;
}

.character-right {
  background-position-y: calc(-64 * var(--pixel-size)) !important;
}

.character-up {
  background-position-y: calc(-96 * var(--pixel-size)) !important;
}

/* ---------------------------- Walking animation --------------------------- */

.character-walking {
  animation: move-sprite 1s steps(4) infinite;
}
/* Keyframe animation: moves the image 100% to the left */
@keyframes move-sprite {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

/* ------------------------------ NPC settings ------------------------------ */

.npc-rafa {
  background-image: url("/sprites/npc_rafa.png");
  image-rendering: pixelated;
  background-size: 100%;
  width: 10px;
  height: 10px;
}

.npc-neto {
  background-image: url("/sprites/npc_neto.png");
  image-rendering: pixelated;
  background-size: 100%;
  width: 10px;
  height: 10px;
}
