.form-title {
  padding: 0 60px;
  max-width: 700px;

  h2 {
    font-family: 'Slackey';
    font-size: 50px;
    text-align: center;
    color: rgba(218, 18, 18, 0.8);
    line-height: 1.2em;
    text-shadow: 0 3px 0 #1e0606;
  }
}

.fonts-link {
  font-family: $pixel-title-font;
  text-transform: uppercase;
  color:black;
  &:hover {
    color: $game-red;
    text-decoration: none;
  }
}

.form-head-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-inputs > input {
 font-family: $user-input-font;
}

.form-two-inline {
  display: flex;
  justify-content: space-between;
  > div {
    width: 45%;
  }
}
