// ----------------------------- Hides the element -----------------------------

.hidden {
  display: none;
}

// ------------------------------- Player input --------------------------------

.dialogue-player {
  background-color: rgba(0, 0, 0, 0.7);
  width: 448px;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 13px;
  width: 896px;
  z-index: 2;
  form {
    position: relative;
  }
  form textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: $user-input-font;
    border: none;
    font-size: 24px;
  }
  form textarea:focus-visible {
    border: none;
    outline: none;
  }
}

.answer-submit {
  position: absolute;
  border: 0;
}

// --------------------------------- NPC box -----------------------------------

.dialogue-npc {
  width: 340px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid $yellow;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  position: absolute;
  color: white;
  font-family: $pixel-text-font;
  font-size: 36px;
  padding: 20px;
  z-index: 2;
  margin: 20px;
}

.dialogue-inactive-npc {
  width: 340px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid white;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  position: absolute;
  color: white;
  font-family: $pixel-text-font;
  font-size: 36px;
  padding: 20px;
  margin: 20px;
  z-index: 2;
}
