// ----------------------------- Hides the element -----------------------------

.hidden {
  display: none;
}

// ------------------------------ Dialogue layer -------------------------------

.dialogue-layer {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

// --------------------------------- NPC box -----------------------------------
.dialogue-npc {
  position: absolute;
  width: 650px;
}

.dialogue-npc-box {
  width: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid $yellow;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  color: white;
  font-family: $pixel-text-font;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}

.dialogue-npc-name {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid $yellow;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  color: white;
  font-family: $pixel-text-font;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}

.dialogue-inactive-npc {
  position: absolute;
  width: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid white;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  color: white;
  font-family: $pixel-text-font;
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}

// ------------------------------- Player input --------------------------------

.dialogue-player {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 448px;
  color: white;
  padding: 20px;
  bottom: 0px;
  width: 100vw;
  form {
    position: relative;
  }
  form textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: $user-input-font;
    border: none;
    font-size: 24px;
  }
  form textarea:focus-visible {
    border: none;
    outline: none;
  }
}
