// ----------------------------- Hides the element -----------------------------

.hidden {
  display: none;
  div {
    display: none;
  }
}

// ------------------------------ Dialogue layer -------------------------------

.dialogue-layer {
  position: absolute;
  height: 100%;
  width: 100%;
}

// --------------------------------- NPC box -----------------------------------
.dialogue-npc {
  position: absolute;
  width: 650px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: $pixel-text-font;
  font-size: 30px;
  line-height: 1.2em;
}

.dialogue-npc-box {
  width: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid $yellow;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  padding: 20px;
  margin: 0 0 0 20px;
}

.dialogue-npc-name {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  padding: 13px 20px 0 20px;
  margin: 20px 0 0 20px;
  line-height: 1em;
}

.dialogue-inactive-npc {
  position: absolute;
  width: 650px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: $pixel-text-font;
  font-size: 30px;
  line-height: 1.2em;
}

.dialogue-inactive-npc-box {
  width: 650px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 4px solid white;
  box-shadow: 0 0 0px 4px black;
  border-radius: 4px;
  padding: 20px;
  margin: 0 0 0 20px;
}

// ------------------------------- Player input --------------------------------

.dialogue-player {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: calc(11 * var(--grid-cell));
  color: white;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  form {
    position: relative;
  }
  form textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: $user-input-font;
    border: none;
    font-size: 24px;
  }
  form textarea:focus-visible {
    border: none;
    outline: none;
  }
}

.answer-submit {
  position: absolute;
  border: 0;
  height: 100vh;
  width: 100vw;
}
