.flash-alert {
  padding: 8px 16px 4px;
  box-shadow: 6px 0 0 black,
    -6px 0 0 black,
    0 6px 0 black,
    0 -6px 0 black,
    inset 0 -6px 0 rgba(0, 0, 0, 0.2),
    inset -6px 0 0 rgba(0, 0, 0, 0.2);
  width: 50%;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 10px;
  color: black;
}
