footer {
  width: 100%;
  bottom: 0;
  background-color: grey;
  padding: 1rem 1rem 1rem;
  width: 100%;
  position: relative;
  margin-top: -30px;
  position: relative;
}

.info-wrapper {
  padding: 2rem 2rem;
}

.footer-info {
  width: 100%;
}

.info-container {
  flex-basis: 33.33%;
}

.social-links {
  margin-bottom: 1rem;
}

.social-link {
  margin: 0 1rem;
}

.content-container {
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 565px) {
  .footer-info.flex-row {
    flex-direction: column;
  }

  .footer-info.space-between-start {
    align-items: center;
    justify-content: center;
  }

  .info-container {
    text-align: center;
    margin-bottom: 2rem;
  }

  .info-container:last-child {
    margin-bottom: 0;
  }
}

.credits-container {
  p {
    font-size: 10px;
  }
}

.social-media-container i {
  color: #fff;
  font-size: 20px;
  margin-left: 7px;
}
