.btn-menu {
  border: 0;
  padding: 10px 16px 6px;
  background-color: $game-blue;
  box-shadow: 3px 0 0 black,
              -3px 0 0 black,
              0 3px 0 black,
              0 -3px 0 black,
              inset 0 -3px 0 rgba(0, 0, 0, 0.2),
              inset -3px 0 0 rgba(0, 0, 0, 0.2);
  font-family: $pixel-title-font;
  color: white;
  text-transform: uppercase;
  p {
    line-height: 1em;
    margin-bottom: 0;
    font-size: 20px;
}
  &:hover {
    background-color: $game-red;
    box-shadow: 3px 0 0 black,
                -3px 0 0 black,
                0 3px 0 black,
                0 -3px 0 black,
                inset 0 3px 0 rgba(0, 0, 0, 0.2),
                inset 3px 0 0 rgba(0, 0, 0, 0.2);
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.btn-menu-down {
  padding: 4px 10px 4px;
  font-size: 30px;
  line-height: 0;
}

.menu-group {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  list-style-type: none;
  a:hover {
    text-decoration: none;
  }
  span {
    vertical-align: middle;
    margin: 0;
  }
}

.background-menu {
  background-color: transparent;
}
