.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline li i {
  font-size: 50px;
  margin: 20px 30px 0 30px;
  padding: 12px;
  background-color: rgb(170, 221, 51);
  border-radius: 50%;
  box-shadow: 0 0 15px #f8f9fa;
}

.list-inline li i:hover {
  transform: translateY(-10px);
  background: rgb(236, 232, 27);
}

.list-inline li i span {
  overflow: hidden;
  padding: 20px;
}

.submit-button {
  padding: 10px 20px;
  color: white;
  background-color: rgb(4, 163, 211);
  width: 100%;
}

.login-button {
  padding: 10px 20px;
  color: white;
  background-color: rgb(4, 163, 211);
  width: 100%;
  text-decoration: none;
  display: inline;
  text-align: center;
}

.login-button:hover {
  padding: 10px 20px;
  color: black;
  background-color: rgb(4, 163, 211);
  width: 100%;
  text-decoration: none;
  display: inline;
  text-align: center;
}

.login-button-disabled {
  padding: 10px 20px;
  color: white;
  background-color: rgba(4, 163, 211, 0.6);
  width: 100%;
  text-decoration: none;
  display: inline;
  text-align: center;
}

.login-button-disabled:hover {
  padding: 10px 20px;
  color: white;
  background-color: rgba(4, 163, 211, 0.6);
  width: 100%;
  text-decoration: none;
  display: inline;
  text-align: center;
}

.x-back-home {
  text-decoration: none;
  display: none;
}

.home-container:hover {
  .x-back-home {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font: 20px monospace;
  padding: 0 5px;
  opacity: 0.5;
  display: block;
  position: absolute;
  top: 2px;
  right: 4px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  }
  .x-back-home:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
}
