.x-back-home {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 31px;
  height: 31px;
  line-height: 1.35em;
  text-align: left;
  padding-left: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: $game-blue;
  border-radius: 50%;
}
.x-back-home:hover {
  text-decoration: none;
  color: white;
  background-color: $game-red;
}

// --------------------- Buttons with pixel art simulation ---------------------

.btn-pixel-full-width {
  padding: 10px 16px 6px;
  background-color: $game-blue;
  box-shadow: 6px 0 0 black,
              -6px 0 0 black,
              0 6px 0 black,
              0 -6px 0 black,
              inset 0 -6px 0 rgba(0, 0, 0, 0.2),
              inset -6px 0 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  font-family: $pixel-title-font;
  font-size: 30px;
  color: white;
  margin: 0;
  text-transform: uppercase;
  &:hover {
    background-color: $game-red;
    box-shadow: 6px 0 0 black,
                -6px 0 0 black,
                0 6px 0 black,
                0 -6px 0 black,
                inset 0 6px 0 rgba(0, 0, 0, 0.2),
                inset 6px 0 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transform: translate(0px, 4px);
    color: white;
  }
}
.btn-pixel-45w {
  padding: 8px 16px 4px;
  background-color: $game-blue;
  box-shadow: 6px 0 0 black,
              -6px 0 0 black,
              0 6px 0 black,
              0 -6px 0 black,
              inset 0 -6px 0 rgba(0, 0, 0, 0.2),
              inset -6px 0 0 rgba(0, 0, 0, 0.2);
  width: 45%;
  min-width: 230px;
  text-align: center;
  text-transform: uppercase;
  font-family: $pixel-title-font;
  font-size: 18px;
  color: white;
  margin: 0;
  &:hover {
    background-color: $game-red;
    box-shadow: 6px 0 0 black,
                -6px 0 0 black,
                0 6px 0 black,
                0 -6px 0 black,
                inset 0 6px 0 rgba(0, 0, 0, 0.2),
                inset 6px 0 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transform: translate(0px, 4px);
    color: white;
  }
}

.btn-pixel-45w-disable {
  background-color: $game-red;
  box-shadow: 6px 0 0 black,
              -6px 0 0 black,
              0 6px 0 black,
              0 -6px 0 black,
              inset 0 6px 0 rgba(0, 0, 0, 0.2),
              inset 6px 0 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  transform: translate(0px, 4px);
}
