.map {
  width: 896px;
  height: 768px;
  background-size: 896px 768px !important;
  background-color: rgba(0,0,0,0);
  border: 5px solid black;
  z-index: 0;
  table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.map-table {
  td {
    min-width: 64px;
    max-width: 64px;
    height: 64px;
  }
}

.map-overlay {
  width: 896px;
  height: 768px;
  background-size: 896px 768px !important;
  position: absolute;
  border: 5px solid black;
  z-index: 1;
}
