.map {
  background-size: cover;
  width: 448px;
  height: 384px;
  table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.map-table {
  td {
  width: 32px;
  height: 32px;
  }
}

.active {
    background-color: tomato;
}
