// Div with the map crop - doesn't move
.map-view {
  width: calc(11 * var(--grid-cell));
  height: calc(11 * var(--grid-cell));
  overflow: hidden;
  margin: 0 auto;
}

// Div with both the map and the layer over the map
.map-layer {
  position: relative;
  top: 0;
  left: 0;
}

// Div with the map and table
.map {
  width: calc(50 * var(--grid-cell));
  height: calc(46 * var(--grid-cell));
  background-size: calc(50 * var(--grid-cell)) calc(46 * var(--grid-cell)) !important;
  background-color: rgba(0,0,0,0);
  z-index: 0;
  table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.map-table {
  td {
    min-width: var(--grid-cell);
    max-width: var(--grid-cell);
    height: var(--grid-cell);
  }
}

// Div with the map overlay (layer that will be above the character)
.map-overlay {
  width: calc(14 * var(--grid-cell));
  height: calc(12 * var(--grid-cell));
  background-size: calc(14 * var(--grid-cell)) calc(12 * var(--grid-cell)) !important;
  position: absolute;
  z-index: 1;
}

.blocked {
  background-color: rgba($color: red, $alpha: 0.3);
}
