// Div with both the map and the layer over the map
.map-layer {
  position: relative;
  top: 0;
  left: 0;
}

// Div with the map and table
.map {
  width: calc(50 * var(--grid-cell));
  height: calc(46 * var(--grid-cell));
  background-size: calc(50 * var(--grid-cell)) calc(46 * var(--grid-cell)) !important;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("/map/map_base.png");
  table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
}

.map-table {
  td {
    min-width: var(--grid-cell);
    max-width: var(--grid-cell);
    height: var(--grid-cell);
  }
}

// Div with the map overlay (layer that will be above the character)
.map-overlay {
  width: calc(60 * var(--grid-cell));
  height: calc(46 * var(--grid-cell));
  position: absolute;
  left: -128px;
  background-image: url("/map/map_overlay.png");
  background-size: calc(60 * var(--grid-cell)) calc(46 * var(--grid-cell)) !important;
}
