/* ------------------------------ NPC settings ------------------------------ */

// Exclamation mark - appear in the cell on top of the active_quest
.exclamation_mark {
  background-image: url("/gui/exclamation_mark.png");
  image-rendering: pixelated;
  background-size: 40px;
  background-position: 13px 30px;
  background-repeat: no-repeat;
}

// Settings common to all NPCS
.npc-ed, .npc-neto, .npc-rafa, .npc-roberto, .npc-ana, .npc-mari, .npc-nic {
  image-rendering: pixelated;
  background-size: 85px;
  background-position-x: -10px;
  background-position-y: -8px;
}

// Settings specific to one NPC

.npc-rafa {
  background-image: url("/npcs/npc_rafa.png");
}

.npc-neto {
  background-image: url("/npcs/npc_neto.png");
}

.npc-ed {
  background-image: url("/npcs/npc_ed.png");
}

.npc-roberto {
  background-image: url("/npcs/npc_roberto.png");
}

.npc-ana {
  background-image: url("/npcs/npc_ana.png");
}

.npc-mari {
  background-image: url("/npcs/npc_mari.png");
}

.npc-nic {
  background-image: url("/npcs/npc_nic.png");
}
