/* ------------------------------------ Map styles ----------------------------------- */

.map {
  background-size: cover;
  width: 448px;
  height: 384px;
}

table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.map-table td {
  width: 32px;
  height: 32px;
}

/* ------------------------------------ Dialog styles ----------------------------------- */

.dialogue {
  //background-color: black;
  width: 448px;
  color: white;
  margin-top: 5px;
}

// .dialogue form input {
//   background-color: black;
//   color: white;
// }

.hidden {
  display: none;
}

/* ------------------------------------ Pixel Art styles ----------------------------------- */

/* Makes pixel art pixelated instead of blurred when the image is increased */
.pixel-art {
  image-rendering: pixelated;
}

/* Character setting */
.character {
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: relative;
}

.character > div {
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: relative;
}

.character-sprite {
  position: absolute;
  background-size: 100%;
  width: 128px;
  height: 128px;
}

.character-shadow {
  width: 32px;
  position: absolute;
  opacity: 50%;
}

/* Walking character */
.character-walking {
  animation: move-sprite 1s steps(4) infinite;
}

.character-down {
  background-position-y: 0 !important;
}

.character-left {
  background-position-y: -32px !important;
}

.character-right {
  background-position-y: -64px !important;
}

.character-up {
  background-position-y: -96px !important;
}

/* Keyframe animation: moves the image 100% to the left */
@keyframes move-sprite {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }

  /* npc setting */
  npc-sprite {
    background-image: url("/sprites/npc_rafa.png");
    image-rendering: pixelated;
    background-size: 100%;
    width: 10px;
    height: 10px;
  }
}
