/* Sets CSS variables */
:root {
  --pixel-size: 2px; /* Increases the size of the pixel art dinamically*/
  --grid-cell: calc( var(--pixel-size) * 32 );
}

/* Makes pixel art pixelated instead of blurred when the image is increased */
.pixel-art {
  image-rendering: pixelated;
}

/* Character setting */
.character {
    height: calc(32 * var(--pixel-size));
    width: calc(32 * var(--pixel-size));
    overflow: hidden;
    position: relative;
}

.character-sprite {
  position: absolute;
  background-size: 100%;
  width: calc(128 * var(--pixel-size));
  height: calc(128 * var(--pixel-size));
}

.character-shadow {
    width: calc(32 * var(--pixel-size));
    position: absolute;
    opacity: 50%;
}

/* Walking character */
.character-walking {
    animation: move-sprite 1s steps(4) infinite;
    width: calc(128 * var(--pixel-size));
}

.character-down {
  width: calc(128 * var(--pixel-size));
  background-position-y: 0;
}

.character-left {
  width: calc(128 * var(--pixel-size));
   background-position-y: -60px;
}

.character-right {
  width: calc(128 * var(--pixel-size));
  background-position-y: -124px;
}

.character-up {
  width: calc(128 * var(--pixel-size));
  background-position-y: -190px;
}

/* Keyframe animation: moves the image 100% to the left */
@keyframes move-sprite {
    from {
        transform: translate3d(0px,0,0);
    }
    to {
        transform: translate3d(-100%,0,0);
    }
}
