#sketch {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 600px;
  // background-color: black;
}

.map {
  background-size: 100%;
  width: calc(16 * var(--grid-cell));
  height: calc(66 * var(--grid-cell));
}
