.swal-button {
  padding: 8px 16px 4px;
  background-color: $game-blue;
  box-shadow: 6px 0 0 black,
  -6px 0 0 black,
  0 6px 0 black,
  0 -6px 0 black,
  inset 0 -6px 0 rgba(0, 0, 0, 0.2),
  inset -6px 0 0 rgba(0, 0, 0, 0.2);
  width: 10%;
  min-width: 230px;
  text-align: center;
  text-transform: uppercase;
  font-family: $pixel-title-font;
  font-size: 18px;
  color: white;
  margin: 3px;
}

.swal-text {
  font-family: $pixel-title-font;
  text-align: center;
  color: black;
  font-size: 12px;
}

.swal-title {
  font-family: $pixel-title-font;
  text-align: center;
  color: $game-red;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
  text-align: center;
}
